.home{
    display: flex;
    overflow-y: visible;
    .content{
        width: 100vw;
        height: 100vh;
        .topbar{
            background-color: #343a40;
            position: fixed;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            font-family: 'DejaVuSans', sans-serif;
            height: 40px;
            top: 0;
            left: 0;
            z-index: 99;
            .left{
                display: flex;
                justify-content: space-evenly;
                ul{
                    display: flex;
                    list-style: none;
                    margin-bottom: 0;
                    li{
                        a{
                            color: #fff;
                            transition: .3s ease-in-out;
                            cursor: pointer;
                            font-size: 14px;
                            text-decoration: none;
                            margin-left: 10px;
                            &:hover{
                                color: #28a745;
                            }
                        }
                    }
                }
            }

            .right{
                display: flex;
                justify-content: space-evenly;
                ul{
                    display: flex;
                    list-style: none; 
                    margin-bottom: 0;  
                    li{
                        font-size: 14px;
                        text-decoration: none;
                        margin-right: 10px;
                        a{
                            text-decoration: none !important;
                            color: white;
                        }
                        span{
                            transition: .3s ease-in-out;
                            cursor: pointer;
                            &:hover{
                                color: #28a745 !important;
                            }
                            .menuIcon{
                                position: relative;
                                right: 0;
                                margin-left: 0%;
                                top: 20%;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
        //main section
        .main{
            color: white;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            align-items: flex-start;
            justify-content: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            // overflow: hidden;
            ul{
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 15px;
                margin-left: 0;
                margin-right: 0;
                padding-left: 0;
                padding-right: 0;
                position: relative;
                &.bottom-list{
                    margin-top: 15px;
                    .bottom-list-advanced-search{
                        position: absolute;
                        bottom: -250px;
                        background-color: white;
                        color: black;
                        display: flex;
                        flex-direction: column;
                        width: 750px;
                        border-radius: 4px;
                        z-index: 4;
                        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
                        padding:10px 15px  20px 15px;
                        font-weight: normal;
                        button{
                            height: 35px;
                            width: 100px;
                            background-color: #337ab7;
                            color: #fff;
                            border: 1px solid #337ab7;
                            border-radius: 4px;
                            cursor: pointer;
                            &:hover{
                                background-color: #2e6da4;
                            }
                        }
                        .advanced_search_filters{
                            display: flex;
                            align-items: center;
                            justify-content: space-evenly;
                            border-top: 1px #ccc solid;
                            border-bottom: 1px #ccc solid;
                            padding: 10px;
                            .advanced_search_hours_week{
                                width: 100px;
                                div{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    padding-right: 5px;
                                    div{
                                        flex-direction: row;
                                        margin-bottom: 5px;
                                    }
                                    p{
                                        font-size: 22px;
                                        margin: 0;
                                    }
                                    label{
                                        margin: 0;
                                        margin-left: 5px;
                                        font-weight: normal;
                                    }
                                    input{
                                        width: 15px;
                                        height: 15px;
                                    }
                                }
                            }
                            .hourly_wage{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-between;
                                div{
                                    width: 130px;
                                    height: 12px;
                                    max-height: 12px;
                                    position: relative;
                                    margin: 0;
                                }
                                input{
                                    height: auto;
                                    width: 130px !important;
                                    padding: 0;
                                    height: 12px;
                                    min-height: 12px;
                                    border: none;
                                }                       
                                .range-container {
                                    display: flex;
                                    align-items: center;
                                }
                            
                              
                                .range-container input[type="range"]::-webkit-slider-thumb {
                                    -webkit-appearance: none;
                                    width: 20px;
                                    height: 20px;
                                    background-color: #4CAF50;
                                    border-radius: 50%;
                                    cursor: pointer;
                                }
                              
                                .range-container .arrow-left, .range-container .arrow-right {
                                    font-size: 20px;
                                    font-weight: bold;
                                    cursor: pointer;
                                    display: flex;
                                    align-items: center;
                                }
                              
                            }
                            .advanced_search_estimated_time{
                                p{
                                    margin: 0;
                                }
                                .advanced_search_show_estimated_time_elts{
                                    div{
                                        display: flex;
                                        align-items: center;
                                        p{
                                            margin: 0;
                                            margin-right: 10px;
                                            width: 120px;
                                        }
                                    }
                                }
                            }
                            .advanced_search_type_of_assignment{
                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                .advanced_search_show_assignment_type{
                                    div{
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        p{
                                            margin: 0;
                                            margin-right: 5px;
                                        }
                                    }
                                }
                            }
                            input{
                                margin: 0;
                                color: black;
                                &::placeholder{
                                    color: black !important;
                                }
                            }
                            input[type="radio"],input[type="checkbox"]{
                                width: 12px;
                                height: 12px;
                            }
                            input,select{
                                cursor: pointer;
                                border: 1px #555 solid;
                            }
                        }
                        .advanced_search_button{
                            margin-top: 10px;
                        }
                    }
                }
                li{
                    list-style: none;
                }
            }
            .innerContent{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 5%;                
                .loading{
                    background: rgba(255,255,255,0.1);
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;
                    padding: 0 5px;
                    display: flex;
                    height: 5px;
                    width: 300px;
                    transition: .8s ease-in-out;
                    margin-top: 10px;
                    margin-bottom: 5px;
                    border-radius: 10px;
                    .loadingBar{
                        animation: load 3s normal forwards;
                        box-shadow: 0 10px 40px -10px #fff;
                        background:rgb(32, 121, 50);
                        height: 5px;
                        width: 0;
                        position: absolute;
                        left: 0;
                        border-radius: 10px;
                    }
                    &.hideLoading{
                        opacity: 0;
                    }
                }
                .inner-content-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;
                    img.home-img{
                        width: 145px; ;
                    }
                    li{
                        margin-right: 20px;
                        cursor: pointer;
                        font-size: 14px;
                        transition: .3s ease-in-out;
                        &.selected{
                            color: #70e73b;
                            background-color: transparent;
                        }
                    }
                    .contentInput{
                        width: 100%;
                        display: flex;
                        position: relative;
                        .search-button{
                            svg{
                                cursor: pointer;
                                background-color: white;
                                color: black;
                                border: none;
                                font-size: 22px;
                                height: 100%;
                            }
                        }
                        select{
                            color: rgb(38, 36, 36);
                        }
                        .angleDown{
                            margin: 0 7px;
                        }
                        div{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: white;
                            color: #28a745;
                        }
                        img{
                            padding: 0 !important;
                        }
                        .country{
                            position: relative;
                            .change-country-container{
                                position: absolute;
                                bottom: -280px;
                                width: 300px;
                                border-radius: 4px;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                padding: 10px;
                                z-index: 999;
                                justify-content: space-between;
                                .change-country-header{
                                    .countries_list{
                                        display: flex;
                                        flex-direction: column;
                                        border: #ccc 1px solid;
                                        border-radius: 4px;
                                        width: 100%;
                                        margin-top: 10px;
                                        position: absolute;
                                        z-index: 10;
                                        background-color: white;
                                        top: -10px;
                                        li{
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            width: 100%;
                                            border: #ccc 1px solid;
                                            padding: 10px;
                                            border-top: none;
                                            &:hover{
                                                background-color: #ccc;
                                            }
                                            p{
                                                font-size: 17px;
                                                margin: 0;
                                                margin-left: 5px;
                                                text-align: left;
                                                width: 100%;
                                            }
                                            img{
                                                width: 30px;
                                            }
                                        }
                                    }
                                }
                                .change-country-header,.change-country-footer{
                                    color: black !important;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    width: 100%;
                                    div{
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        width: 100%;
                                    }
                                    h4,h5,p{
                                        color: black;
                                    }
                                    
                                }
                                .change-country-footer{
                                    margin-top: 5px;
                                    border-top: #ccc 1px solid;
                                    padding-top: 10px;
                                    img{
                                        width: 30px;
                                        margin-right: 5px;
                                    }
                                    p{
                                        color: rgb(47, 44, 44);
                                        margin: 0;
                                        font-size: 14px;
                                    }
                                    div{
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        margin-top: 10px;
                                    }
                                }
                            }
                            .flag{
                                width: 27px;
                                height: 17px;
                                margin-right: 10px;
                                padding: 0;
                            }
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                        .all{
                            // border-right: 2px rgb(114, 178, 87) solid;
                            font-size: 1.2rem;
                            // border-left: 2px rgb(114, 178, 87) solid;
                            select{
                                border: none;
                                outline: none;
                                width: 100px;
                            }
                            span{
                                margin-left: 8px;
                                color: #1e7832;
                            }
                            img{
                                margin-left: 5px;
                            }
                        }
                    }
                    p{
                        font-weight: 500;
                        font-size: 14px;
                        margin-bottom: 20px;
                    }
                    img{
                        padding-bottom: 10px;
                    }
                    input{
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        width: 492px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: rgb(32, 121, 50);
                        font-family: 'SegoeUIItalic';
                        padding-left: 20px;
                        padding-right: 10px;
                        border: 0ch;
                        &::placeholder{
                            color: rgb(32, 121, 50) !important;
                            font-size: 14px;
                            font-weight: 400;
                            font-style: italic;
                            opacity: 1;
                        }
                        &:focus{
                            outline: none;
                        }
                    }

                }
            }
            .numbers{
                margin-left: 5%;
                margin-top: 3%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 60%;
                height: 100px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                z-index: -1;
                >.header{
                    width: 100%;
                    border-top: 1px rgb(255, 255, 255) solid;
                }
                .numbers-content{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h3{
                        margin: 0;
                        font-size: 22px;
                    }
                    div{
                        margin: 0 50px;
                    }
                }
            }
        }
        .home-aboutus{
            margin-top: 500px;
        }
        .home-companies,.home-freelancers,.home-aboutus{
            .home-content,.freelancer-content{
                .content-wrapper{
                    padding: 20px 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    background-color: #040d21;
                    &.white{
                        background-color: #fafafa;
                        .content-header{
                            h3{
                                color: #040d21;
                            }
                        }
                        .content-info{
                            color: #040d21;
                        }
                    }
                    .content-header{
                        margin: 10px 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        h3{
                            color: #79c0ff;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            font-size:50px;
                            width: 50%;
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .content-info{
                        margin: 50px 0;
                        color: white;
                        font-size: 20px;
                        font-weight: 600;
                        font-family: 'Open Sans', sans-serif;
                        div{
                            margin: 15px 0;
                        }
                    }
                }
            }
        }
        .home-aboutus{
            margin-top: 0px !important;
        }
        .footer{
            position: absolute;
            /*bottom: 0;
            left: 0%;
            height: 40px;
            width: 100vw;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: #343a40;
            p{
                margin-right: 15vw;
                margin-bottom: 0;
                color: white;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }*/
            width: 100%;
        }
    }
    .images{
        position:absolute ;
        z-index: -1;
        height: 100vh;
        width: 100%;
        left: 0;
        transition: 1s ease-in-out;  
        img{
            object-fit: cover;
            width: 100vw;
            height: 100vh;
        }
    }
}
.country-input{
    display: flex !important;
justify-content: left !important;
    border: 1px solid rgb(179, 176, 176) !important;
    background-color: transparent !important;
    margin-top: 10px !important;
    border-radius: 10px !important;
    color: black !important;
}
.font-size{
    font-size: 10px !important;
    color: gray !important;
    width: 100%;
    margin: 0 !important;
}
.text-align-center{
    text-align: center !important;
    margin-top: 20px !important;
    width: 100% !important;
}
@media (max-width:450px){
    .home{
        justify-content: center;
        .content{
            width: 100vw;
            display: flex;
            justify-content: center;
            .topbar{
                height: 80px;
                ul{
                    flex-direction: column;
                    margin-left: 0;
                    padding: 0;
                }
                .right{
                    align-self: baseline;
                    ul{
                        flex-direction: row;
                    }
                }
            }
            .main{
                width: 100vw;
                margin-top: 30%;
                .innerContent{
                    p{
                        font-size: 0.9rem;
                    }
                    ul{
                        li{
                            margin-right: 12px;
                        }
                    }
                }
            }
        }
    }
}
@keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }