.home-description-client-wrapper{
    .home-description-client-element{
        padding: 10px;
        padding-bottom: 25px;
        border-bottom: 1px rgb(223, 16, 16) solid;
        h3{
            color: rgb(223, 16, 16);
        }
        .home-description-client-buttons{
            display: grid;
            grid-template-columns: 1fr 1fr;
            a{
                text-decoration: none;
            }
            button{
                border: rgb(31, 119, 54) 1px solid;
                transition: .3s ease-in-out;
                width: 140px;
                height: 40px;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(31, 119, 54);
                color: white;
                &:hover{
                    background: white;
                    color: rgb(31, 119, 54);
                }
            }
        }
        .home-description-client-second-elt{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 15px 10%;
            .home-description-client-elt-column-wrapper{
                display: grid;
                grid-template-rows: 200px 1fr;
                strong{
                    font-size: 18px;
                }
                .home-description-client-second-elt-img{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 70%;
                    }
                }
            }
        }
        .home-description-client-third-elt{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .home-description-client-third-elt-container{
                width: 100%;
                margin-top: 10px;
                display: flex;
                align-items: flex-start;
                justify-content: space-evenly;
                .home-description-client-third-elt-container-elt{
                    width: 250px;
                    img{
                        width: 250px;
                        height: 150px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .home-description-client-fourth-elt{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px 20%;
            h3{
                text-align: center;
            }
            .home-description-client-fourth-elt-search{
                display: grid;
                grid-template-columns: 3fr 1fr;
                input{
                    border-radius: 15px;
                    padding: 5px;
                    border: 3px rgb(126, 203, 229) solid;
                }
                button{
                    border-radius: 15px;
                    padding: 5px;
                    background-color: rgb(126, 203, 229);
                    color: white;
                    border: none;
                    margin-left: 1px;
                    &:focus{
                        outline: none;
                    }
                }
            }
            .home-description-client-fourth-elt-faqs{
                .faq-question{
                    width: auto;
                }
            }
        }
        .home-description-client-fifth-elt{
            padding: 10px 10%;
            .home-description-client-buttons{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                button{
                    width: 150px;
                }
            }
        }
    }
}