.organisaties-wrapper{
    margin-bottom: 15%;

    .header{
        margin: 0 10px ;
        margin-top: 110px;
        padding-left: 15px;
        border-bottom: 1px solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        button{
            border-radius: 100%;
            border: none;
            height: 50px;
            width: 50px;
            background: #70b157;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .3s ease-in-out;
            &:hover{
                background-color: #28a745 ;
            }
            svg{
                font-size: 29px;
                color: white;
            }
        }
    }

    .orga-elements{
        display: flex;
        flex-direction: column;
        margin-bottom: 15%;
        .orga-row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 5%;
            h2{
                width: 240px;
                display: flex;
                align-items: center;
            }
        }
    }
}