.timecards-wrapper{
    margin-bottom: 15%;
    .timecards-header{
        margin: 14px;
        margin-top: 120px;
        border-bottom: 1px solid;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        p,h2{
            margin: 10px 15px;
        }
    }
    .upload-invoice{
        button{
            border-radius: 100%;
            border: none;
            height: 50px;
            width: 50px;
            background: #70b157;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .3s ease-in-out;
            &:hover{
                background-color: #28a745 ;
            }
            svg{
                font-size: 29px;
                color: white;
            }
        }
    }
    .timecards-content{
        margin: 14px;
        .timecards-content-header{
            display: grid !important;
            h3{
                width: 200px;
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                &.status{
                    width: 100px;
                }
            }
        }
    }
}